<h1 class="bg-primary p-4">custome pipe</h1>

 <div class="container mt-4">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <input type="text" class="form-control mb-4" placeholder="search by countryname"[(ngModel)]="searchByValue">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>sr no</th>
            <th>name</th>
            <th>country</th>
            <th>role</th>
            <th>age</th>
            <th>matchesplayed</th>
            <th>totalRuns</th>
            <th>totalWickets</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let player of playersArray|filterpipe:searchByValue; index as i">
            <td>{{i+1}}</td>
            <td>{{player.name}}</td>
            <td>{{player.age}}</td>
            <td>{{player.country}}</td>
            <td>{{player.role}}</td>
            <td>{{player.totalRuns}}</td>
            <td>{{player.matchesPlayed}}</td>
            <td>{{player.totalWickets}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
 </div>
